<?php

return [
    'APP_URL'=>'localhost:8000',
    'database' => [
        'DB_NAME' => 'example',
        'DB_USER' => 'example',
        'DB_PASS' => 'example',
        'CONNECTION' => 'mysql:host=localhost;port:8889',
        'OPTIONS' => [
            PDO::ATTR_ERRMODE => PDO::ERRMODE_EXCEPTION
        ]
    ]
];
